body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  border: none;
  color: white;
  cursor: pointer;
}

/*.home {
  background-color: #01bd9b;
}
.home:hover {
  background-color: #019479;
}

.resume {
  background-color: #0099de;
}
.resume:hover {
  background: #0288c4;
}

.portfolio {
  background-color: #af58ba;
}
.portfolio:hover {
  background: #974aa1;
}

.contacts {
  background-color: #ff7f0c;
}
.contacts:hover {
  background: #c96306;
}

.feedback {
  background-color: #ff4b3a;
}
.feedback:hover {
  background: #de3e2f;
}

.Blog {
  background-color: #eaa900;
}
.Blog:hover {
  background: #bf8b04;
}

.info {
  float: left;
  background-color: #d1d0d0;
}

.text {
  background-color: darkgrey;
  display: flex;
}*/
